body
{
    background-color: black;
}
h1
{
    color: green;
}
h2
{
    color: greenyellow;
}
h3
{
    color: greenyellow;
}
p
{
    color: white;
    font-size:18;
}
a
{
    color: yellowgreen;
    font-size:18;
}